body{
    margin: 0;
    padding: 0;
}
form.upload_photo{
	margin:50px auto;
	width:300px;
}
form.upload_photo input{
	font-size: 16px;
}
form.upload_photo input[type="submit"]{
	float:right;
}
form.upload_photo input[type="text"],
form.upload_photo input[type="checkbox"],
form.upload_photo select {
    width: 100%;
    float: left;
    padding: 5px;
    margin-bottom: 25px;
}
form.upload_photo .checkbox_wrap {
	width:100%;
	float:left;
}
form.upload_photo input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
form.upload_photo label.is_default {
    width: 80%;
    float: left;
    padding-left: 10px;
    line-height: 25px;
}
form.upload_photo input[type="submit"] {
    float: left;
    margin-top: 30px;
}
h1{
    background: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-family:Arial;
}
fieldset {
	border:none;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	background: #f4f4f4;
}
fieldset label {
	margin-right:60px;
}
.img_wrap{
	text-align: center;
	margin: 20px 0;
}
.button_wrap {
    padding: 10px 0;
    text-align: center;
}
.button_wrap button{
	margin:0;
	font-size: 16px;
}
h1 {
	background: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
}
h1 .box_heading {
	width:1028px;
	text-align: center;
    margin: auto;
    position: relative;
}
h1 .box_heading button[type="submit"]{
	position: absolute;
    right: 0;
    top: 10px;
    font-size: 14px;
    font-weight: normal;
}
h1 .box_heading button[type="button"]{
	position: absolute;
    left: 0;
    top: 10px;
    font-size: 14px;
    font-weight: normal;
}
table.results {
  margin:20px auto 50px;
  font-family: Arial;
  width: 97%;
  border-collapse: collapse;
}
table.results td,
table.results th {
  padding: 10px;
  vertical-align: top;
  text-align: left;
}
table.results th {
    padding: 10px 10px 0;
    font-size: 12px;
}
table.results td select,
table.results td input {
	padding: 5px 2px;
	font-size: 14px
}
.order_info {
    width: 1250px;
    margin: auto;
    max-height: 100%;
}
p.label {
	width: 370px;
    margin-top: 20px;
    font-family: Arial;
    line-height: 27px;
}
p.label input {
    padding: 3px;
    font-weight: bold;
    font-size: 15px;
    float: right;
    width: 225px;
}
#ocr_results_wrap {
    width: 1028px;
    margin: 50px auto;
}
#ocr_results_wrap table {
    width: 100%;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    background: url('../icons/sort_both.png');
    width: 19px;
    height: 19px;
    content: '';
    opacity: 1;
}
form.upload_photo.product{
	width:500px;
}
.erp_submit_wrap {
    margin: 20px auto 40px;
    text-align: center;
}
.erp_submit {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
p.flash {
    background: #f4f4f4;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
    font-family: Arial;
    padding: 10px 0;
}


/* Navbar container */
.s_navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  width:100%;
  background: #f4f4f4;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.s_navbar .s_nav{
    width:905px;
    margin: auto;
}

/* Links inside the navbar */
.s_navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* The dropdown container */
.s_dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.s_dropdown .dropbtn {
  font-size: 15px; 
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 30px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0 30px 0 0; /* Important for vertical align on mobile phones */
}
.s_dropdown .dropbtn i{
    background: url('../icons/nav_icon.png');
    width: 19px;
    height: 19px;
    float: right;
    margin: -3px 0 0 2px;
}

/* Add a red background color to navbar links on hover */
.s_navbar a:hover, .s_dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.s_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.s_dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.s_dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.s_dropdown:hover .s_dropdown-content {
  display: block !important;
}
.remove_item {
  position: absolute;
  top: 2px;
  right: 3px;
  cursor: pointer;
}
p.name {
    background: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-family: Arial;
}
.validation-failed {
  border:2px solid #ff0000;
}

.form-group{
  display: flex;
}