<html>
<head>
    <title>SUPPLIER INVOICE OCR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
</head>
<body>
  
<h1>
      <div class="box_heading">
          SUPPLIER INVOICE OCR
      </div>
</h1>

  
    <form action="" method="post" enctype="multipart/form-data" class="upload_photo">
        <input type="file" name="file" required="true">
        <input type="submit" value="Upload">
    </form>
</body>
</html>